.custom-scrollbar {
    &::-webkit-scrollbar {
        width: .25rem;
    }
    &::-webkit-scrollbar-track {
        background-color: unset;
    }
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: $bg-secondary;
        border-radius: 100rem;
        &:hover {
            background-color: $bg-secondary-hover;
        }
        &:active {
            background-color: $bg-secondary-active;
        }
    }
}