@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap');

.manrope {
  font-family: "Manrope", sans-serif !important;
  font-style: normal;
}

.jetbrains {
  font-family: "JetBrains Mono", monospace !important;
  font-style: normal;
}