$white: #F5F5F5;
$green: #98FFAD;
$gray: #95A6A0;
$white-gray: #EBEBEB;
$gray-black: #757575;
$black: #000000;
$dark: #0F0F0F;

@mixin textHeader {
    font-size: 1.25rem;
    color: $white;
    transition: all .3s ease-out;
    &:hover {
        transition: all .3s ease-out;
        color: $green;
    }
}

@mixin text1 {
    font-size: 1.25rem;
    transition: all .3s ease-out;
}