@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&display=swap");
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  scrollbar-width: none;
}
@media (max-width: 1920px) {
  html {
    font-size: 0.8333vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: unset;
}
body::-webkit-scrollbar-thumb {
  cursor: pointer;
}
main {
  max-width: 1921px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  main {
    margin: 0;
    max-width: none;
  }
}

hr {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  font-family: "TikTok Sans", sans-serif;
  border: none;
  background: none;
  padding: 0;
}

.manrope {
  font-family: "Manrope", sans-serif !important;
  font-style: normal;
}

.jetbrains {
  font-family: "JetBrains Mono", monospace !important;
  font-style: normal;
}

.container {
  margin: 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 0;
}
@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.25rem;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: unset;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 100rem;
}
.custom-pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.custom-pagination .swiper-pagination-bullet {
  border-radius: 0;
  margin: 0 !important;
  flex: 1;
  height: 0.5rem;
}
.custom-pagination.brand .swiper-pagination-bullet {
  background-color: #FDA993;
}
.accordion-item {
  cursor: pointer;
}
.accordion-item__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.dropdown-item {
  position: relative;
  transition: all 0.3s ease-out;
}
.dropdown-item a {
  display: flex;
  align-items: center;
}
.dropdown-item a svg {
  transition: all 0.3s ease-out;
}
.dropdown-item__content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s ease-out;
}
.dropdown-item:hover a svg {
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}
.dropdown-item:hover .dropdown-item__content {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

header {
  position: sticky;
  z-index: 51;
  top: -1px;
  transform: translateY(0);
  transition: transform 0.3s ease;
  width: 100%;
}
header_sticky-hidden {
  transform: translateY(-100%);
}

/*# sourceMappingURL=main.css.map */
